*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; 
    font-family: "Livvic", sans-serif;
    }
    body{
        background: linear-gradient(114.523deg, #fff0cf 0%, #9ED9D6 12%, #6dcab9 20%, #24428F 100%);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    html{
        scroll-behavior: smooth;
    }
    img{
        display: block;
        max-width: 100%;  
    }
    h1{
        font-size: 3rem;
        font-weight: 500;
        color:#393a4f;
        text-align: center;
        filter: drop-shadow(0px 2px #dddddd);
        padding: 2rem 0;
    }
    h2{
        font-size: 2rem;
        font-weight: 500;
        color:#4b4c66;
        text-align: left;
        filter: drop-shadow(0px 2px #dddddd);
    }
    .header{
        width: 100%;
        height: 100%;
        padding-bottom: 2rem;
    }
    .mode{
        display: flex;
        justify-content: flex-end;
        margin-right: 5rem;
        margin-bottom: 1rem;
    }
    #darkBtn{
        width: 2rem;
        cursor: pointer;
    }
    #lightBtn{
        display: none;
    }
    .content-submit{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin: 0rem 5rem 5rem 5rem;
        background-color: #f0fdfd9e;
        border-radius: 10px;
        border: 2px solid #696a8e;
        padding: 5rem;
    }
    .content-stanga{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 700px;
    }
    textarea{
        resize: none;
        border-radius: 5px;
        padding: 1rem;
        border: 2px solid #333;
    }
    .textarea-and-button{
        position: relative;
    }
    .headline{
        width: 700px;
        height: 200px;
        border: 2px solid #696a8e;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .language-buttons, .model-buttons{
        display: flex;
        gap: 1rem;
    }
    .btn-language{
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: transform 0.2s ease, background-color 0.2s ease;
        border: 2px solid #696a8e;
        cursor: pointer;
    }
    .btn-language:hover{
        background-color: #ffc379;
        border: 2px solid #ea9b5f;
        transform: scale(1.1);
    }
    .btn-model{
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: transform 0.2s ease, background-color 0.2s ease;
        border: 2px solid #696a8e;
        cursor: pointer;
        color:#4b4c66;
    }
    .btn-model:hover{
        background-color: #ffc379;
        border: 2px solid #ea9b5f;
        transform: scale(1.1);
    }
    .paste-delete{
        display: flex;
        gap: 1rem;
        position: absolute;
        right: 20px;
        top: 15px;
    }
    #pasteBtn, #deleteBtn, #csvBtn {
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: opacity 0.3s ease;
    }
    #pasteBtn:hover, #deleteBtn:hover, #csvBtn:hover {
        opacity: 0.7;
        color: #1f3f6b;
    }
    .submit-and-char-count{
        display: flex;
        position: absolute;
        gap: 1rem;
        bottom: 15px;
        left: 460px;
    }
    .char-count {
        font-size: 1rem;
        color: #ffc379;
        text-align: right;
        width: 80px;
        margin-top: 1.5rem;
    }
    .btn-submit{
        color: #fff;
        font-size: 1.2rem;
        padding: 0.7rem 2rem;
        border: none;
        font-weight: 600;
        border-radius: 5px;
        background-color: #ffc379; 
        transition: transform 0.2s ease, background-color 0.2s ease;
        align-self: flex-end;
        cursor: pointer;
    }
    .btn-submit:hover{
        background-color: #ea9b5f;
    }
    .btn-language.selectedLang {
        border: 2px solid #ea9b5f;
        background-color: #ffc3799e;
        border-radius: 5px;
    }
    .btn-model.selectedModel {
        border: 2px solid #ea9b5f;
        background-color: #ffc3799e;
        border-radius: 5px;
    }
    #result{
        font-size: 1.7rem;
        color: #4b4c66;
    }
    #result .prediction-text.clickbait {
        color: #c6670e;
    }
    #result .prediction-text.not-clickbait {
        color: #1a2a85;
    }
    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }
    #result.blink {
        animation: blink 0.5s ease-in-out;
    }
    #sentimentResult{
        display:none;
        color: #4b4c66;
    }
    .content-dreapta{
        display: flex;
        flex-direction: column;
        margin-top: 2.4rem;
        background-color: #FFF;
        border: 2px solid #696a8e;
        height: 25rem;
        width: 65rem;
        border-radius: 5px;
        padding: 0.5rem;
    }
    .warning{
        display: none;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        margin-top: 0.4rem;
    }
    #icon-warning{
        width: 20px;
        height: 20px;
    }
    #languageWarning{
        font-size: 0.8rem;
        color:#4b4c66;
        text-align: center;
    }
    .charts{
        display: flex;
        gap: 5rem;
        justify-content: center;
        align-items: center;
        width: 60rem;
        height: 24rem;
    }
    #sentimentChart{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
    }
    .confidence{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #confidenceChart{
        width: 32rem !important;
        height: 18rem !important;
    }
    .confidence-notice {
        text-align: center;
        width: 10rem;
        color: #777;
        font-size: 0.85rem;
        margin-bottom: 0.5rem;
    }
    .hidden {
        display: none;
    }
    #polarityChart, #subjectivityChart{
        width: 10.5rem !important;
        height: 10.5rem !important;
    }
    .csv-status{
        font-size: 1.5rem;
        font-weight: 500;
    }
    textarea:disabled{
        background-color: #ffffff;
    }
    .progress-container{
        display: none;
        margin-top: 10px;
    }
    .progress-container label{
        font-size: 1.2rem;
        color: #393a4f;
        display: block;
        margin-bottom: 0.5rem;
    }
    .progress-background {
        width: 100%;
        background: #ddd;
        border-radius: 5px;
        overflow: hidden;
    }
    .progress-bar {
        height: 10px;
        width: 0%;
        background: #58A3AD;
        transition: width 0.3s ease;
    }
    .cancel-btn {
        margin-top: 10px;
        padding: 5px 12px;
        background-color: #e74c3c;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .cancel-btn:hover {
        background-color: #c0392b;
    }



    /*Dark mode*/
    body.dark-mode {
        background: linear-gradient(102.022deg, #FFC27B 0%, #426967 15%, #1A3136 38%, #081126 100%);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .dark-mode h1{
        color: #DEEBFF;
        filter: drop-shadow(0px 2px #0000009f);
    }
    .dark-mode h2{
        color: #DEEBFF;
        filter: drop-shadow(0px 2px #0000009f);
    }
    .dark-mode .content-submit {
        background-color: #2a2e2eda;
        border-color: #B8B8B8;
    }
    .dark-mode .content-dreapta {
        background-color: #202020;
        border-color: #5D719D;
    }
    .dark-mode textarea{
        background-color: #202020;
        color: #fff;
        border-color: #5D719D;
    }
    .dark-mode .btn-language, .dark-mode .btn-model {
        background-color: #1E323C;
        border-color: #5D719D;
        color: #DEEBFF;
    }
    .dark-mode .btn-language:hover, .dark-mode .btn-model:hover{
        background-color: #27414f;
    }
    .dark-mode .btn-language.selectedLang, .dark-mode .btn-model.selectedModel {
        border: 2px solid #8aa4dd;
        background-color: #4966ae73;
        border-radius: 5px;
    }
    .dark-mode .btn-submit{
        color: #1E323C;
    }
    .dark-mode textarea:disabled {
        background-color: #202020;
    }
    .dark-mode #result {
        color: #DEEBFF;
    }
    .dark-mode #result .prediction-text.clickbait {
        color: #ffab5c;
    }
    .dark-mode #result .prediction-text.not-clickbait {
        color: #7583DE;
    }
    .dark-mode #sentimentResult{
        color: #DEEBFF;
    }
    .dark-mode #languageWarning{
        color: #7583DE;
    }
    .dark-mode .progress-container label{
        font-size: 1.2rem;
        color: #DEEBFF;
        display: block;
        margin-bottom: 0.5rem;
    }


    #darkBtn {
        display: block; /* Show moon in light mode */
    }
    #darkBtn:hover{
        transform: scale(1.1);
    }
    #lightBtn {
        display: none; /* Hide sun in light mode */
    }
    body.dark-mode #darkBtn {
        display: none; /* Hide moon in dark mode */
    }
    body.dark-mode #lightBtn {
        display: block; /* Show sun in dark mode */
        width: 2rem;
        cursor: pointer;
    }
    body.dark-mode #lightBtn:hover{
        transform: scale(1.1);
    }


    @media(min-width: 1281px) and (max-width: 1600px){
        .content-submit{
            gap: 5rem;
        }
        .content-stanga {
            width: 550px;
        }
        .headline {
            width: 550px;
            height: 200px;
        }
        .submit-and-char-count {
            bottom: 10px;
            left: 320px;
            gap: 0.7rem;
        }
        .content-dreapta {
            width: 60rem;
            height: 22rem;
        }
        #confidenceChart{
            width: 28rem !important;
            height: 14rem !important;
        }
        #polarityChart, #subjectivityChart{
            width: 8.5rem !important;
            height: 8.5rem !important;
        }
    }

    @media(min-width: 769px) and (max-width: 1280px){
        .content-submit {
            flex-direction: column;
            margin: 0 2rem 2rem 2rem;
            gap: 2rem;
            padding: 2rem;
            align-items: center;
        }
        .content-stanga {
            width: 600px;
            gap: 1rem;
        }
        .headline {
            width: 580px;
            height: 180px;
        }
        .paste-delete {
            right: 30px;
            top: 10px;
            gap: 0.7rem;
        }
        .submit-and-char-count {
            bottom: 10px;
            left: 390px;
            gap: 0.7rem;
        }
        .char-count {
            font-size: 0.9rem;
            width: 70px;
            margin-top: 1rem;
        }
        .btn-submit {
            font-size: 1rem;
            padding: 0.5rem 1.5rem;
        }
        .content-dreapta {
            width: 22rem;
            height: 50rem;
            margin-top: 1.5rem;
        }
        .charts{
            flex-direction: column;
            width: 20rem;
            height: 50rem;
        }
        .confidence-notice{
            margin-bottom: 2.5rem;
            margin-top: -5rem;
        }
         #confidenceChart{
            width: 20rem !important;
            height: 12rem !important;
        }
        #polarityChart, #subjectivityChart{
            width: 9.5rem !important;
            height: 9.5rem !important;
        }
        h1 {
            font-size: 2.2rem;
            padding: 1.5rem 0;
        }
        h2 {
            font-size: 1.5rem;
        }
        #result {
            font-size: 1.2rem;
        }
        .btn-language img {
            width: 25px;
            height: 25px;
        }
        #pasteBtn, #deleteBtn, #csvBtn {
            width: 28px;
            height: 28px;
        }
        body.dark-mode #lightBtn{
            width: 1.8rem;
            margin-right: -3rem;
        }
        #darkBtn{
            width: 1.8rem;
            margin-right: -3rem;
        }
    }

    @media(min-width: 501px) and (max-width: 768px){
        .content-submit {
            flex-direction: column;
            margin: 0 1.5rem 1.5rem 1.5rem;
            gap: 2rem;
            padding: 2rem;
            align-items: center;
        }
        .content-stanga {
            width: 330px;
            gap: 1rem;
        }
        .headline {
            width: 320px;
            height: 180px;
        }
        .btn-model{
            font-size: 0.7rem;
        }
        .paste-delete {
            right: 20px;
            top: 10px;
            gap: 0.7rem;
        }
        .submit-and-char-count {
            bottom: 10px;
            left: 140px;
            gap: 0.7rem;
        }
        .char-count {
            font-size: 0.8rem;
            width: 65px;
            margin-top: 1rem;
        }
        .btn-submit {
            font-size: 1rem;
            padding: 0.4rem 1.4rem;
        }
        .content-dreapta {
            width: 22rem;
            height: 40rem;
            margin-top: 1.5rem;
        }
        .charts{
            flex-direction: column;
            width: 20rem;
            height: 36rem;
            gap: 1rem;
        }
        .confidence-notice{
            margin-bottom: 2.5rem;
            margin-top: -5rem;
        }
         #confidenceChart{
            width: 20rem !important;
            height: 12rem !important;
        }
        #polarityChart, #subjectivityChart{
            width: 9.5rem !important;
            height: 9.5rem !important;
        }
        h1 {
            font-size: 2rem;
            padding: 1.4rem 0;
        }
        h2 {
            font-size: 1.5rem;
        }
        #result {
            font-size: 1.1rem;
        }
        .btn-language img {
            width: 22px;
            height: 22px;
        }
        #pasteBtn, #deleteBtn, #csvBtn {
            width: 25px;
            height: 25px;
        }
        .csv-status {
            font-size: 1.2rem;
        }
        body.dark-mode #lightBtn{
            width: 1.8rem;
            margin-right: -3rem;
        }
        #darkBtn{
            width: 1.8rem;
            margin-right: -3rem;
        }
    }

    @media(min-width: 320px) and (max-width: 500px){
        .content-submit {
            flex-direction: column;
            margin: 0 1rem 1rem 1rem;
            gap: 2rem;
            padding: 1.5rem 0.5rem 1.5rem 0.5rem;
            align-items: center;
        }
        .content-stanga {
            width: 300px;
            gap: 1rem;
            margin-left: 1.5rem;
        }
        .headline {
            width: 270px;
            height: 180px;
        }
        .language-buttons, .model-buttons{
            gap: 0.5rem;
        }
        .btn-model{
            font-size: 0.5rem;
        }
        .paste-delete {
            right: 40px;
            top: 10px;
            gap: 0.7rem;
        }
        .submit-and-char-count {
            bottom: 10px;
            left: 90px;
            gap: 0.7rem;
        }
        .char-count {
            font-size: 0.8rem;
            width: 65px;
            margin-top: 1rem;
        }
        .btn-submit {
            font-size: 1rem;
            padding: 0.4rem 1.4rem;
        }
        .content-dreapta {
            width: 17rem;
            height: 36rem;
            margin-top: 1.5rem;
        }
        .charts{
            flex-direction: column;
            width: 16rem;
            height: 34rem;
            gap: 1rem;
        }
        .confidence-notice{
            font-size: 0.75rem;
            margin-bottom: 2.5rem;
            margin-top: -10rem;
        }
         #confidenceChart{
            width: 15.5rem !important;
            height: 9rem !important;
        }
        #polarityChart, #subjectivityChart{
            width: 8.5rem !important;
            height: 8.5rem !important;
        }
        h1 {
            font-size: 1.9rem;
            padding: 1.4rem 0;
        }
        h2 {
            font-size: 1.3rem;
        }
        #result {
            font-size: 1rem;
        }
        .btn-language img {
            width: 20px;
            height: 20px;
        }
        #pasteBtn, #deleteBtn, #csvBtn {
            width: 24px;
            height: 24px;
        }
        .csv-status {
            font-size: 1rem;
        }
        #icon-warning{
            width: 15px;
            height: 15px;
        }
        #languageWarning{
            font-size: 0.6rem;
        }
        body.dark-mode #lightBtn{
            width: 1.8rem;
            margin-right: -4rem;
        }
        #darkBtn{
            width: 1.8rem;
            margin-right: -4rem;
        }
    }

/* Info Section */

.section-informations{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.content-informations{
    width: 95rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.disclaimer{
    background-color: #f0fdfd9e;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid #696a8e;
    font-size: 1.4rem;
    color: #4b4c66;
    display: flex;
    flex-direction: column;
}
.instructions{
    background-color: #f0fdfd9e;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid #696a8e;
    font-size: 1.4rem;
    color: #4b4c66;
    display: flex;
    flex-direction: column;
}
.theory{
    background-color: #f0fdfd9e;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid #696a8e;
    font-size: 1.4rem;
    color: #4b4c66;
    display: flex;
    flex-direction: column;
}
.h2-info{
    font-size: 2rem;
    font-weight: 500;
    color:#4b4c66;
    text-align: left;
    margin: 2rem 0;
    filter: drop-shadow(0px 2px #dddddd);
}
.h3-info{
    font-size: 1.5rem;
    font-weight: 500;
    color:#4b4c66;
    text-align: left;
    filter: drop-shadow(0px 2px #dddddd);
    margin-top: 1rem;
}
.p-info{
    font-size: 1.3rem;
}
.collapsible-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.5rem;
}
.collapsible-header:hover{
    background-color: #ffc87062;
    border-radius: 15px;
    border: 1px solid #6cc0d1;
    padding: 0.5rem;
}
.collapsible-header .arrow {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}
.collapsible-header.active .arrow {
    transform: rotate(180deg);
}
.collapsible-content {
    display: none;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.collapsible-content.show {
    display: block;
}


/* Dark mode */

.dark-mode .disclaimer, .dark-mode .instructions, .dark-mode .theory{
    background-color: #2a2e2eda;
    border: 2px solid #B8B8B8;
    color: #DEEBFF;
    font-size: 1.4rem;
}
.dark-mode .collapsible-header:hover{
    background-color: #08112643;
    border-radius: 15px;
    border: 1px solid #081126;
    padding: 0.5rem;
}
.dark-mode .h2-info{
    color: #DEEBFF;
    filter: drop-shadow(0px 2px #0000009f);
}
.dark-mode .h3-info{
    color: #DEEBFF;
    filter: drop-shadow(0px 1px #7eaee4);
}

@media(min-width: 1281px) and (max-width: 1600px){
    .content-informations{
        width: 85rem;
    }
}

@media(min-width: 769px) and (max-width: 1280px){
    .content-informations{
        width: 75rem;
    }
    .h2-info{
        font-size: 1.7rem;
    }
    .h3-info{
        font-size: 1.3rem;
    }
    .p-info{
        font-size: 1.2rem;
    }
}

@media(min-width: 501px) and (max-width: 768px){
    .h2-info{
        font-size: 1.5rem;
    }
    .h3-info{
        font-size: 1.2rem;
    }
    .p-info{
        font-size: 1rem;
    }
}
@media(min-width: 320px) and (max-width: 500px){
    .h2-info{
        font-size: 1.2rem;
    }
    .h3-info{
        font-size: 1rem;
    }
    .p-info{
        font-size: 0.9rem;
    }
}
