<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disertatie - Clickbait Classification</title>
    <meta name="description" content="Clickbait detection">
    <meta name="googlebot" content="index,follow">
    <meta name="robots" content="max-snippet:-1,max-image-preview:large,max-video-preview:-1"/>
    <meta name="googlebot" content="max-snippet:-1,max-image-preview:large,max-video-preview:-1"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/icon-site.svg') }}" type="image/svg+xml">
</head>

<body>
    <header class="header">
        <h1>Clickbait Detector</h1>
        <div class="mode">
            <img id="darkBtn" src="{{ url_for('static', filename='images/moon.svg') }}" alt="Dark mode" title="Dark Mode">
            <img id="lightBtn" src="{{ url_for('static', filename='images/sun.svg') }}" alt="Light mode" title="Light Mode">
        </div>
        <div class="content-submit">
            <div class="content-stanga">
                <h2>Enter a headline example! :D</h2>
                <div class="buttons">
                    <button type="button" class="btn-language" title="English"><img src="{{ url_for('static', filename='images/EN.svg') }}" alt="english"></button>
                    <button type="button" class="btn-language" title="Romanian"><img src="{{ url_for('static', filename='images/RO.svg') }}" alt="romanian"></button>
                    <button type="button" class="btn-language" title="Hungarian"><img src="{{ url_for('static', filename='images/HU.svg') }}" alt="hungarian"></button>
                </div>
                <div class="textarea-and-button">
                    <textarea class="headline" placeholder="Type something..." maxlength="200"></textarea>
                    <div class="paste-delete">
                        <input type="file" id="csvInput" accept=".csv" style="display: none;">
                        <span id="csvStatus" class="csv-status"></span>
                        <img id="csvBtn" src="{{ url_for('static', filename='images/csv.svg') }}" alt="CSV" title="Upload a CSV file">
                        <img id="pasteBtn" src="{{ url_for('static', filename='images/paste.svg') }}" alt="Paste" title="Paste from clipboard">
                        <img id="deleteBtn" src="{{ url_for('static', filename='images/delete.svg') }}" alt="Delete" title="Delete text or csv">
                    </div>
                    <div class="submit-and-char-count">
                        <div class="char-count">0 / 200</div>
                        <button type="submit" class="btn-submit">Detect</button>
                    </div>
                </div>
                <p id="result">Your headline is likely:</p>
            </div>
            <div class="content-dreapta">
                <canvas id="confidenceChart" width="300" height="200"></canvas>
                <div class="warning">
                    <img id="icon-warning" src="{{ url_for('static', filename='images/Warning.svg') }}" alt="Warning">
                    <p id="languageWarning" class="language-warning"></p>
                </div>
            </div>
        </div>
    </header>

    <section class="section-informations">
        <div class="content-informations">
            <div class="disclaimer">
                <p class="p-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ab adipisci omnis iure, molestiae possimus odio reiciendis. 
                    Quis non minus, dignissimos iure, ex molestiae fuga eius distinctio beatae, veritatis in?</p>
            </div>
            <div class="instructions">
                <p class="p-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam perferendis autem illo non,
                     totam alias iusto laboriosam voluptatem ratione doloremque odio tempore illum facilis nemo repudiandae a quae impedit? Sint?</p>
            </div>
            <div class="theory">
                <p class="p-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Atque incidunt necessitatibus possimus dolor pariatur ratione fuga reprehenderit saepe animi placeat quisquam dolorem dolores recusandae mollitia, eius sint provident. Esse, praesentium.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Atque incidunt necessitatibus possimus dolor pariatur ratione fuga reprehenderit saepe animi placeat quisquam dolorem dolores recusandae mollitia, eius sint provident. Esse, praesentium</p>
            </div>
        </div>
    </section>

    <footer>
        
    </footer>

</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
        window.themeImages = {
            moon: "{{ url_for('static', filename='images/moon.svg') }}",
            sun: "{{ url_for('static', filename='images/sun.svg') }}"
        };
</script>
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</html>
